section {
    width: 600px;
    height: fit-content;
    background-color: rgb(41, 110, 163);
    border-radius: 10px;
    margin: 0 auto 50px auto;
    padding: 60px 90px;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}

article {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

input, textarea {
    flex: 1;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #f0f0f0;
    padding: 6px 30px 6px 6px;
    font-size: 16px;
}

textarea {
    height: auto; 
}

article.sucesso input,
article.sucesso textarea {
    border-color: #09c372;
}

article.erro input,
article.erro textarea {
    border-color: #ff3860;
}

label {
    color: aliceblue;
    width: 130px; 
    text-align: right;
    margin-right: 20px;
}

.logo {
    width: 250px;
    margin: 50px 0 5px 0;
}

button {
    display: block; 
    width: 100%; 
    margin-top: 13px; 
    padding: 10px; 
    background-color: rgb(22, 90, 143); 
    color: white; 
    border: 1px solid white; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px;
}

button:hover {
    background-color: rgb(17, 67, 105);
    transition: 0.5s;
}

.icone-feedback {
    position: absolute;
    right: 4px;
    width: 22px;
    display: none;
}

article.sucesso .icone-feedback.sucesso,
article.erro .icone-feedback.erro {
    display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
